{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');
  </style>
</head>
<body class="bg-white text-gray-900 font-[Nunito, 'Helvetica Neue', Helvetica, Arial, sans-serif] min-h-screen flex flex-col">
  <!-- Navigation Bar -->
  <nav class="py-2 px-6 flex justify-between items-center bg-[#7551ae] text-gray-300 w-full top-0 z-10">
    <a href="/" class="text-xl font-semibold text-gray-200">Prototype v0</a>
    <div>
      <ul class="flex space-x-6">
        <li><a href="/" class="px-4 py-2 hover:font-bold rounded-lg">Activities</a></li>
        <li><a href="/" class="px-4 py-2 hover:font-bold rounded-lg">Other Extras</a></li>
        <li><a href="/" class="px-4 py-2 hover:font-bold rounded-lg">About us</a></li>
      </ul>
    </div>
  </nav>
  <nav class="py-7 px-6 bg-[#542e91]  text-gray-300">
    <p>Holiday Extras :)</p>
  </nav>

  <!-- Main Content -->
  <main class="mx-auto flex-col h-auto">
    {% block content %}
    <!-- Page content -->
    {% endblock %}
  </main>

  <!-- Footer -->
  <footer class="border-t border-gray-700 py-6 bg-[#542e91] text-white text-center mt-10 px-6 text-gray-400 ">
    <p class="text-xs">Prototype add-on advice tool developed for Hackabury 2025.<br/>Do not redistribute.</p>
  </footer>

</body>
</html>