{% extends 'base.html' %}

{% block content %}
<h1 class="text-4xl">Hey, {{first_name}}!</h1>
<p>You've selected to go from {{from}} to {{to}}. We've found the following options for you:</p>
<br/>
{% if airport_transfer %}
<h2 class="text-2xl">Airport Transfers</h2>
<div>
    <ul>
        <li>Airport option 1</li> 
        <li>Airport option 2</li> 
        <li>Airport option 3</li> 
    </ul>
</div>
{% endif %}

{% if airport_fast_track %}
<h2 class="text-2xl">Airport Fast Track</h2>
<div>
    <ul class="flex flex-wrap justify-evenly">
        <li class="p-5 w-[30%] bg-gray-400/15 rounded-lg my-3 hover:bg-gray-400/30 ease-in-out transition">
            <h3 class="text-xl font-bold">Option</h3>
            <p class="mt-3 text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="text-blue-200/80 mt-5 font-bold">£99.99</p>
            <p class="text-blue-200/80 mb-3">Book now</p>
        </li>
        <li class="p-5 w-[30%] bg-gray-400/15 rounded-lg my-3 hover:bg-gray-400/30 ease-in-out transition">
            <h3 class="text-xl font-bold">Option</h3>
            <p class="mt-3 text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="text-blue-200/80 mt-5 font-bold">£99.99</p>
            <p class="text-blue-200/80 mb-3">Book now</p>
        </li>
        <li class="p-5 w-[30%] bg-gray-400/15 rounded-lg my-3 hover:bg-gray-400/30 ease-in-out transition">
            <h3 class="text-xl font-bold">Option</h3>
            <p class="mt-3 text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="text-blue-200/80 mt-5 font-bold">£99.99</p>
            <p class="text-blue-200/80 mb-3">Book now</p>
        </li>
        <li class="p-5 w-[30%] bg-gray-400/15 rounded-lg my-3 hover:bg-gray-400/30 ease-in-out transition">
            <h3 class="text-xl font-bold">Option</h3>
            <p class="mt-3 text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="text-blue-200/80 mt-5 font-bold">£99.99</p>
            <p class="text-blue-200/80 mb-3">Book now</p>
        </li>
        <li class="p-5 w-[30%] bg-gray-400/15 rounded-lg my-3 hover:bg-gray-400/30 ease-in-out transition">
            <h3 class="text-xl font-bold">Option</h3>
            <p class="mt-3 text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="text-blue-200/80 mt-5 font-bold">£99.99</p>
            <p class="text-blue-200/80 mb-3">Book now</p>
        </li>
    </ul>
</div>
{% endif %}

{% if airport_lounge %}
<h2 class="text-xl">Airport Lounge</h2>
<div>
    <ul class="flex flex-wrap justify-evenly">
        <li class="p-5 w-[30%] bg-gray-400/15 rounded-lg my-3 hover:bg-gray-400/30 ease-in-out transition">
            <h3 class="text-xl font-bold">Option</h3>
            <p class="mt-3 text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="text-blue-200/80 mt-5 font-bold">£99.99</p>
            <p class="text-blue-200/80 mb-3">Book now</p>
        </li>
        <li class="p-5 w-[30%] bg-gray-400/15 rounded-lg my-3 hover:bg-gray-400/30 ease-in-out transition">
            <h3 class="text-xl font-bold">Option</h3>
            <p class="mt-3 text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="text-blue-200/80 mt-5 font-bold">£99.99</p>
            <p class="text-blue-200/80 mb-3">Book now</p>
        </li>
        <li class="p-5 w-[30%] bg-gray-400/15 rounded-lg my-3 hover:bg-gray-400/30 ease-in-out transition">
            <h3 class="text-xl font-bold">Option</h3>
            <p class="mt-3 text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="text-blue-200/80 mt-5 font-bold">£99.99</p>
            <p class="text-blue-200/80 mb-3">Book now</p>
        </li>
        <li class="p-5 w-[30%] bg-gray-400/15 rounded-lg my-3 hover:bg-gray-400/30 ease-in-out transition">
            <h3 class="text-xl font-bold">Option</h3>
            <p class="mt-3 text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="text-blue-200/80 mt-5 font-bold">£99.99</p>
            <p class="text-blue-200/80 mb-3">Book now</p>
        </li>
        <li class="p-5 w-[30%] bg-gray-400/15 rounded-lg my-3 hover:bg-gray-400/30 ease-in-out transition">
            <h3 class="text-xl font-bold">Option</h3>
            <p class="mt-3 text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="text-blue-200/80 mt-5 font-bold">£99.99</p>
            <p class="text-blue-200/80 mb-3">Book now</p>
        </li>
    </ul>
</div>
{% endif %}

{% if taxi %}
<h2 class="text-xl">Taxis</h2>
<div>
    <ul class="flex flex-wrap justify-evenly">
        <li class="p-5 w-[30%] bg-gray-400/15 rounded-lg my-3 hover:bg-gray-400/30 ease-in-out transition">
            <h3 class="text-xl font-bold">Option</h3>
            <p class="mt-3 text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="text-blue-200/80 mt-5 font-bold">£99.99</p>
            <p class="text-blue-200/80 mb-3">Book now</p>
        </li>
        <li class="p-5 w-[30%] bg-gray-400/15 rounded-lg my-3 hover:bg-gray-400/30 ease-in-out transition">
            <h3 class="text-xl font-bold">Option</h3>
            <p class="mt-3 text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="text-blue-200/80 mt-5 font-bold">£99.99</p>
            <p class="text-blue-200/80 mb-3">Book now</p>
        </li>
        <li class="p-5 w-[30%] bg-gray-400/15 rounded-lg my-3 hover:bg-gray-400/30 ease-in-out transition">
            <h3 class="text-xl font-bold">Option</h3>
            <p class="mt-3 text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="text-blue-200/80 mt-5 font-bold">£99.99</p>
            <p class="text-blue-200/80 mb-3">Book now</p>
        </li>
        <li class="p-5 w-[30%] bg-gray-400/15 rounded-lg my-3 hover:bg-gray-400/30 ease-in-out transition">
            <h3 class="text-xl font-bold">Option</h3>
            <p class="mt-3 text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="text-blue-200/80 mt-5 font-bold">£99.99</p>
            <p class="text-blue-200/80 mb-3">Book now</p>
        </li>
        <li class="p-5 w-[30%] bg-gray-400/15 rounded-lg my-3 hover:bg-gray-400/30 ease-in-out transition">
            <h3 class="text-xl font-bold">Option</h3>
            <p class="mt-3 text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="text-blue-200/80 mt-5 font-bold">£99.99</p>
            <p class="text-blue-200/80 mb-3">Book now</p>
        </li>
    </ul>
</div>
{% endif %}

{% if insurance %}
<h2 class="text-xl">Insurance</h2>
<div>
    <ul class="flex flex-wrap justify-evenly">
        <li class="p-5 w-[30%] bg-gray-400/15 rounded-lg my-3 hover:bg-gray-400/30 ease-in-out transition">
            <h3 class="text-xl font-bold">Option</h3>
            <p class="mt-3 text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="text-blue-200/80 mt-5 font-bold">£99.99</p>
            <p class="text-blue-200/80 mb-3">Book now</p>
        </li>
        <li class="p-5 w-[30%] bg-gray-400/15 rounded-lg my-3 hover:bg-gray-400/30 ease-in-out transition">
            <h3 class="text-xl font-bold">Option</h3>
            <p class="mt-3 text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="text-blue-200/80 mt-5 font-bold">£99.99</p>
            <p class="text-blue-200/80 mb-3">Book now</p>
        </li>
        <li class="p-5 w-[30%] bg-gray-400/15 rounded-lg my-3 hover:bg-gray-400/30 ease-in-out transition">
            <h3 class="text-xl font-bold">Option</h3>
            <p class="mt-3 text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="text-blue-200/80 mt-5 font-bold">£99.99</p>
            <p class="text-blue-200/80 mb-3">Book now</p>
        </li>
        <li class="p-5 w-[30%] bg-gray-400/15 rounded-lg my-3 hover:bg-gray-400/30 ease-in-out transition">
            <h3 class="text-xl font-bold">Option</h3>
            <p class="mt-3 text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="text-blue-200/80 mt-5 font-bold">£99.99</p>
            <p class="text-blue-200/80 mb-3">Book now</p>
        </li>
        <li class="p-5 w-[30%] bg-gray-400/15 rounded-lg my-3 hover:bg-gray-400/30 ease-in-out transition">
            <h3 class="text-xl font-bold">Option</h3>
            <p class="mt-3 text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="text-blue-200/80 mt-5 font-bold">£99.99</p>
            <p class="text-blue-200/80 mb-3">Book now</p>
        </li>
    </ul>
</div>
{% endif %}

{% if travel_money %}
<h2 class="text-xl">Travel Money</h2>
<div>
    <ul class="flex flex-wrap justify-evenly">
        <li class="p-5 w-[30%] bg-gray-400/15 rounded-lg my-3 hover:bg-gray-400/30 ease-in-out transition">
            <h3 class="text-xl font-bold">Option</h3>
            <p class="mt-3 text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="text-blue-200/80 mt-5 font-bold">£99.99</p>
            <p class="text-blue-200/80 mb-3">Book now</p>
        </li>
        <li class="p-5 w-[30%] bg-gray-400/15 rounded-lg my-3 hover:bg-gray-400/30 ease-in-out transition">
            <h3 class="text-xl font-bold">Option</h3>
            <p class="mt-3 text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="text-blue-200/80 mt-5 font-bold">£99.99</p>
            <p class="text-blue-200/80 mb-3">Book now</p>
        </li>
        <li class="p-5 w-[30%] bg-gray-400/15 rounded-lg my-3 hover:bg-gray-400/30 ease-in-out transition">
            <h3 class="text-xl font-bold">Option</h3>
            <p class="mt-3 text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="text-blue-200/80 mt-5 font-bold">£99.99</p>
            <p class="text-blue-200/80 mb-3">Book now</p>
        </li>
        <li class="p-5 w-[30%] bg-gray-400/15 rounded-lg my-3 hover:bg-gray-400/30 ease-in-out transition">
            <h3 class="text-xl font-bold">Option</h3>
            <p class="mt-3 text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="text-blue-200/80 mt-5 font-bold">£99.99</p>
            <p class="text-blue-200/80 mb-3">Book now</p>
        </li>
    </ul>
</div>
{% endif %}

{% if activities_and_festivals %}
<h2 class="text-xl">Activities and Festivals</h2>
<div>
    <ul class="flex flex-wrap justify-evenly">
        <li class="p-5 w-[30%] bg-gray-400/15 rounded-lg my-3 hover:bg-gray-400/30 ease-in-out transition">
            <h3 class="text-xl font-bold">Option</h3>
            <p class="mt-3 text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="text-blue-200/80 mt-5 font-bold">£99.99</p>
            <p class="text-blue-200/80 mb-3">Book now</p>
        </li>
        <li class="p-5 w-[30%] bg-gray-400/15 rounded-lg my-3 hover:bg-gray-400/30 ease-in-out transition">
            <h3 class="text-xl font-bold">Option</h3>
            <p class="mt-3 text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="text-blue-200/80 mt-5 font-bold">£99.99</p>
            <p class="text-blue-200/80 mb-3">Book now</p>
        </li>
        <li class="p-5 w-[30%] bg-gray-400/15 rounded-lg my-3 hover:bg-gray-400/30 ease-in-out transition">
            <h3 class="text-xl font-bold">Option</h3>
            <p class="mt-3 text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="text-blue-200/80 mt-5 font-bold">£99.99</p>
            <p class="text-blue-200/80 mb-3">Book now</p>
        </li>
        <li class="p-5 w-[30%] bg-gray-400/15 rounded-lg my-3 hover:bg-gray-400/30 ease-in-out transition">
            <h3 class="text-xl font-bold">Option</h3>
            <p class="mt-3 text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="text-blue-200/80 mt-5 font-bold">£99.99</p>
            <p class="text-blue-200/80 mb-3">Book now</p>
        </li>
        <li class="p-5 w-[30%] bg-gray-400/15 rounded-lg my-3 hover:bg-gray-400/30 ease-in-out transition">
            <h3 class="text-xl font-bold">Option</h3>
            <p class="mt-3 text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="text-blue-200/80 mt-5 font-bold">£99.99</p>
            <p class="text-blue-200/80 mb-3">Book now</p>
        </li>
        <li class="p-5 w-[30%] bg-gray-400/15 rounded-lg my-3 hover:bg-gray-400/30 ease-in-out transition">
            <h3 class="text-xl font-bold">Option</h3>
            <p class="mt-3 text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="text-blue-200/80 mt-5 font-bold">£99.99</p>
            <p class="text-blue-200/80 mb-3">Book now</p>
        </li>
    </ul>
</div>
{% endif %}

{% if parking %}
<h2 class="text-xl">Parking options</h2>
<div>
    <ul class="flex flex-wrap justify-evenly">
        <li class="p-5 w-[30%] bg-gray-400/15 rounded-lg my-3 hover:bg-gray-400/30 ease-in-out transition">
            <h3 class="text-xl font-bold">Option</h3>
            <p class="mt-3 text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="text-blue-200/80 mt-5 font-bold">£99.99</p>
            <p class="text-blue-200/80 mb-3">Book now</p>
        </li>
        <li class="p-5 w-[30%] bg-gray-400/15 rounded-lg my-3 hover:bg-gray-400/30 ease-in-out transition">
            <h3 class="text-xl font-bold">Option</h3>
            <p class="mt-3 text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="text-blue-200/80 mt-5 font-bold">£99.99</p>
            <p class="text-blue-200/80 mb-3">Book now</p>
        </li>
        <li class="p-5 w-[30%] bg-gray-400/15 rounded-lg my-3 hover:bg-gray-400/30 ease-in-out transition">
            <h3 class="text-xl font-bold">Option</h3>
            <p class="mt-3 text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="text-blue-200/80 mt-5 font-bold">£99.99</p>
            <p class="text-blue-200/80 mb-3">Book now</p>
        </li>
        <li class="p-5 w-[30%] bg-gray-400/15 rounded-lg my-3 hover:bg-gray-400/30 ease-in-out transition">
            <h3 class="text-xl font-bold">Option</h3>
            <p class="mt-3 text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="text-blue-200/80 mt-5 font-bold">£99.99</p>
            <p class="text-blue-200/80 mb-3">Book now</p>
        </li>
        <li class="p-5 w-[30%] bg-gray-400/15 rounded-lg my-3 hover:bg-gray-400/30 ease-in-out transition">
            <h3 class="text-xl font-bold">Option</h3>
            <p class="mt-3 text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="text-blue-200/80 mt-5 font-bold">£99.99</p>
            <p class="text-blue-200/80 mb-3">Book now</p>
        </li>
    </ul>
</div>
{% endif %}

{% endblock %}